a:target {
	background-color: yellow;
}

a[href^="#OData"]::before {
	content: "[";
}

a[href^="#OData"]::after {
	content: "]";
}

.example {
	font-size: smaller;
}

.example p {
	font-style: italic;
}

code {
	font-family: MJXZERO, MJXTEX-T;
	font-size: 1em;
	line-height: 0;
}

pre code {
	font-family: unset;
	font-size: unset;
}

.example p code {
	font-style: initial;
}

.example pre {
	margin-left: 40px;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
	font-size: unset;
}

mjx-container {
	font-size: unset !important;
}

mjx-container[display=true] {
	text-align: left !important;
	margin-left: 40px !important;
}

/* The following rule enables typewriter single quotes in maths, like $\hbox{\tt{'$Q$'}}$ */
mjx-c.mjx-c2019::before {
	content: "\27" !important;
	padding-right: 0.525em !important;
	font-family: MJXZERO, MJXTEX-T;
}